* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f5cf06;
  --secondary-color: #8e4106;
  --space-default: 70px;
}

body {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding-top: var(--space-default);
  padding-bottom: 24px;
  font-family: 'Righteous', cursive;
}

.logo {
    margin-left: var(--space-default);
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 32px;
    
}

header {
    height: 10%;
}

main {
    flex-grow: 1;
    display: grid;
    margin-left: var(--space-default);
    margin-right: var(--space-default);
    grid-template-columns: repeat(12, 1fr);
}

.pikachu-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title {
    grid-column: 1/-1;
    place-self: center;
    position: relative;
}

.title__text {
    font-size: 20vw;
    color: #fff;
}

.title__transparent {
    position: absolute;
    font-size: 27vw;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff5;
    z-index: -1;
}

.description {
    grid-column: 1/7;
    place-self: center start;
    color: var(--secondary-color);
}

.description__title {
    font-size: 64px;
}

.description__text {
    font-size: 20px;
    width: 500px;
}

.action {
    grid-column: 7/-1;
    place-self: center end;
    height: 100px;
    width: 411px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: violet;
    color: var(--secondary-color);
}

